<div id="storeCarousel" class="carousel slide wk__store-Carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="100">
        <img src="../../assets/fb-feb2-delwed-fireplaces.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/Points-Feb1-2022-MP1-New (1).png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/snuggly_koala_MP1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/koala_cuddles_box_MP1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/Plush_Next_NEW_panda_MP1-sm.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/valentine_fawn_MP1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/FEB2022_potm_MP1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="100">
        <img src="../../assets/winter_woodpile_mp1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="0" class="active storeCarouselIndicators" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="1" class="storeCarouselIndicators" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="2" class="storeCarouselIndicators" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="3" class="storeCarouselIndicators" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="4" class="storeCarouselIndicators" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="5" class="storeCarouselIndicators" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="6" class="storeCarouselIndicators" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#storeCarousel" data-bs-slide-to="7" class="storeCarouselIndicators" aria-label="Slide 8"></button>
      </div>
  </div>