<wk-topNavBar>Loading...</wk-topNavBar>
<p>Top Nav Bar ^ | Calendar Cards v</p>

<wk-newsCard>Loading...</wk-newsCard>

<div class="container-fluid d-flex justify-content-center">
    <div *ngFor="let calendarCard of calendarCards" class="m-4">
        <wk-calendarCard date={{calendarCard.date}} title={{calendarCard.title}} description={{calendarCard.description}}>
            Loading...
        </wk-calendarCard>
    </div>
</div>  

<wk-socialNavBar>Loading...</wk-socialNavBar>
<p>Social Nav Bar ^</p>

<wk-bottom-nav>Loading...</wk-bottom-nav>

