<nav class="navbar navbar-light px-5">
    <div class="d-flex justify-content-start wk__links">
        <a class="px-4">WEBKINZ WORLD</a>
        <a class="px-0">GANZ ESTORE</a>
    </div>
    <div class="d-flex justify-content-end wk__user">
        <img class="me-2" src="../../assets/img_whitehead.png" width="14" height="19" alt="">
        <div class="d-flex justify-content-center">
            <a class="wk__user-links px-1">LOGIN</a>
            <p>|</p>
            <a class="wk__user-links px-1">JOIN</a>
        </div>
        <img class="my-1 ms-1" src="../../assets/btn_arrow_down.png" width="12" height="13" alt="">
    </div>
</nav>