<nav class="navbar navbar-light bg-light">
    <img src="../../assets/logo-ganz.png" class="mx-2" width="92" height="25" alt="">
    <div class="wk__links">
        <a class="px-4">Take a Tour</a>
        <a class="px-4">News</a>
        <a class="px-4">Buy Plush</a>
    </div>
    <div class="wk__margin">
        <a class="px-4">Parents</a>
        <a class="px-4">Membership</a>
        <a class="px-4">Help</a>
    </div>
    <div class="d-flex float-right">
        <a class="px-4">En Francais</a>
        <button class="btn">Privacy & More</button>
    </div>
</nav>