<nav class="navbar navbar-light bg-light d-flex justify-content-around flex-row">
    <div>
    <div class="spacer-div"></div>
        <div class="wk__search-box">
            <table class="wk__search-elements-box">
                <tr>
                    <td>
                        <input type="text" class="wk__search" placeholder="What are you looking for?">
                    </td>
                    <td>
                        <img src="../../assets/magGlass.png" width="30" height="26" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-evenly wk__right">   
        <a class="">News</a>
        <p>|</p>
        <a class="">Login</a>
        <p>|</p>
        <a class="">Sign Up</a>
        <p>|</p>
        <a class="navbar-brand" href="#">
            <img src="../../assets/facebookSticker.png" width="28" height="35" alt="">
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../assets/twitterSticker.png" width="28" height="35" alt="">
        </a>
    </div>
  </nav>