<nav class="navbar navbar-light bg-light">
    <div class="container px-5">
      <a class="navbar-brand ps-5" href="https://www.facebook.com/Webkinz/" target="_blank">
        <img src="../../assets/facebookButton.png" alt="" width="142px" height="166px">
      </a>
      <a class="navbar-brand" href="https://www.instagram.com/webkinz/" target="_blank">
        <img src="../../assets/instagramButton.png" alt="" width="142px" height="166px">
      </a>
      <a class="navbar-brand pe-5" href="https://twitter.com/webkinz" target="_blank">
        <img src="../../assets/twitterButton.png" alt="" width="142px" height="166px">
      </a>
    </div>
  </nav>