<nav class="navbar navbar-expand navbar-light bg-light py-3 px-4 sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand px-4" href="https://www.webkinz.com/" target="_blank">
        <img src="../../assets/ganzLogo.png" alt="" width="95px" height="35px">
      </a>

      <div class="collapse navbar-collapse position-absolute top-50 start-50 translate-middle fw-bold" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-info" routerLink="Shop">Shop</a>
          <a class="nav-link text-info" routerLink="News">News</a>
          <a class="nav-link text-info" routerLink="Help">Help</a>
          <a class="nav-link text-info" routerLink="Parents">Classic Parents</a>
        </div>
      </div>

      <div class="navbar-nav float-end fw-bold">
          <a href="#" class="nav-link text-info">Legal</a>
      </div>
    </div>
  </nav>